/* This fix autofill forcing white background and black text */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
    -webkit-text-fill-color: rgb(255, 255, 255);
    transition: background-color 9999s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px rgb(14, 17, 22) inset;
}

.contact {
    display: flex;
    flex-direction: column;
    padding: 20px 5%;
    padding-top: 90px;
    gap: 50px;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: rgb(147, 146, 163);
    justify-content: center;
    align-items: center;
}

.contactTitle {
    color: white;
}

.contactTitle span {
    color: rgb(250, 0, 250);
}

.contactContent {
    display: flex;
    flex-direction: row;
    gap: 5%;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid rgb(46, 54, 68);
    background-color: rgba(17, 25, 39, 0.5);
    padding: clamp(15px, 2vw, 30px);
    border-radius: 10px;
    min-width: 90%;
}

.contactActions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    align-items: center;
}

.email {
    display: inline-flex;
    padding: 10px 15px;
    background-color: rgb(17, 25, 39);
    border: 1px solid rgb(46, 54, 68);
    border-radius: 9999999px;

    align-items: center;
    gap: 0.5rem;
}

.email:hover {
    cursor: pointer;
    border-color: rgb(45, 209, 209);
    color: white;
}

.email:hover svg:first-child {
    color: rgb(45, 209, 209);
}

.email:hover .copyIcon {
    color: white;
}

.email svg {
    width: 1em;
}

.email svg:first-child {
    color: rgb(147, 146, 163);
}

.email .copyIcon {
    color: transparent;
}

.email .checkIcon {
    display: none;
}

.email.copied .copyIcon {
    display: none;
}

.email.copied .checkIcon {
    display: block;
}

.downloadCV {
    display: inline-flex;
    padding: 10px 15px;
    background-color: rgb(17, 25, 39);
    border: 1px solid rgb(46, 54, 68);
    border-radius: 9999999px;

    align-items: center;
    gap: 0.5rem;
}

.downloadCV:hover {
    cursor: pointer;
    border-color: rgb(250, 0, 250);
    color: white
}

.downloadCV:hover svg {
    color: rgb(250, 0, 250);
}

.downloadCV:hover svg:last-child {
    color: white;
}

.downloadCV svg {
    width: 1em;
}

.socialMedia {
    margin-top: 5%;
    display: flex;
    padding: 0;
    gap: 25px;
    margin-bottom: 15px;
}

.socialIcon {
    width: 40px;
    display: inline-flex;
}

.socialMedia svg {
    width: 100%;
    color: rgb(174, 171, 197);
    transition: transform 0.1s ease-in-out;
}

.socialMedia svg:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.08);
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
    gap: 20px;
    min-width: 40%;
}

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputWrapper {
    position: relative;
    width: 100%;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}

.inputWrapper input {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 12px 12px 44px;

    border-radius: 10px;
    border: 1px solid #444;
    background: #0f0f14;
    color: white;
}

.inputWrapper textarea {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    padding: 12px;

    border-radius: 10px;
    border: 1px solid #444;
    background: #0f0f14;
    color: white;
    /* font-size: 1rem; */
    resize: vertical;
    min-height: 150px;
}

.inputWrapper textarea:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgb(45, 209, 209);
}

.inputWrapper input:focus {
    outline: none;
    border: 1px solid transparent;
    box-shadow: 0 0 0 2px rgb(45, 209, 209);
}

.inputWrapper:focus-within .inputIcon {
    color: rgb(45, 209, 209);
}

.inputIcon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    color: #888;
    pointer-events: none;
    /* 🔑 clave */
}

.sendButton {
    background: none;
    border: none;
    position: relative;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    border-radius: 10px;
    cursor: pointer;
    isolation: isolate;
}

.sendButton:disabled {
    /* pointer-events: none; */
    cursor: not-allowed;
}

.sendButton:disabled .sendButtonInner:hover {
    background: #0f0f14;
    color: rgb(147, 146, 163);
    /* pointer-events: none; */
    cursor: not-allowed;
}

.sendButton:hover:disabled::after {
    opacity: 0.5;
}

.sendButton:hover::after {
    opacity: 0.5;
}

.sendButtonInner {
    background: #0f0f14;
    border-radius: 10px;
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.sendButtonIcon {
    display: flex;
}

.sendButtonIcon svg {
    width: 1.2em;
}

.sendButtonInner:hover {
    color: white;
    background:
        linear-gradient(135deg,
            rgba(45, 209, 209, 0.08),
            rgba(250, 0, 250, 0.08)),
        #0f0f14;
}

.sendButton::after {
    position: absolute;
    content: "";
    inset: -2px;
    border-radius: 10px;
    background: linear-gradient(165deg,
            rgb(45, 209, 209),
            rgb(250, 0, 250));
    opacity: 0.5;
    z-index: -1;
}

.sendButton:hover::after {
    opacity: 1;
}

.hidden {
    display: none;
}

.loadingIndicator {
    border: 4px solid;
    border-color: rgb(147, 146, 163);
    border-top-color: transparent;

    width: 14px;
    height: 14px;
    border-radius: 100%;

    animation: infinite linear spin 1s;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }

}