.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 35px;
    height: 80px;
    align-items: center;
    box-sizing: border-box;
    font-size: clamp(1rem, 2.5vw, 1.75rem);
    color: rgb(147, 146, 163);
    background-color: rgba(10, 10, 17, 0.4);
    border-bottom: 1px solid;
    border-color: rgba(29, 39, 52);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1000;
}

.tabNav {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    color: rgb(147, 146, 163);
}

.tabNav a {
    color: rgb(147, 146, 163);
}

.tabNav .active {
    color: rgb(45, 209, 209);
}

.tabNav a:hover {
    color: rgb(45, 209, 209);
    text-shadow: 0 0 2px rgb(45, 209, 209);
}

.tagline {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
    color: white;
}

.tagline:hover {
    cursor: pointer;
}

.tagline:hover svg {
    transform: rotate(10deg);
}

.tagline svg {
    width: 1.3em;
    color: rgb(45, 209, 209);
    transition: transform 0.1s ease;
}

.tagline span:first-child {
    color: rgb(250, 0, 250);
}

.tagline span:last-child {
    color: rgb(45, 209, 209);
}

.menuButton {
    background: none;
    padding: 5px;
    border: none;
    outline: none;
    display: none;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.menuOverlay {
    opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s ease;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}
.menu {
    position: absolute;
    right: 10px;
    left: 10px;
    top: 65px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(46, 54, 68);
    background-color: rgba(17, 25, 39);
    z-index: 1001;
}
.menuOverlay.active{
    opacity: 1;
        pointer-events: auto;
}
.menu a.active{
    color: rgb(0, 225, 225);
}

@media (max-width: 768px) {
    .tabNav {
        display: none;
    }

    .menuButton {
        display: flex;
    }

    .header {
        padding: 5px 15px;
        height: 60px;
    }
}