.heroSection {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 5%;
    padding-top: 100px;
    gap: 25px;
    /* min-height: 100vh; */
    box-sizing: border-box;
}

.openToWork {
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    border: 1px solid rgb(45, 209, 209);
    background-color: rgba(45, 209, 209, 0.1);
    color: rgb(45, 209, 209);
    padding: 7px 15px;
    width: fit-content;
    font-size: 0.8rem;
}

.heroCircle {
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgb(45, 209, 209);
}

.heroTitle {
    font-size: 5rem;
}

.typeWriter {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 5rem;
    line-height: 1.2;
}

.typeWriter h1 {
    font-size: 5rem;
}

#typingText {
    overflow: hidden;
    width: fit-content;
    background: linear-gradient(90deg, rgb(45, 209, 209), rgb(250, 0, 250));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#typingText::after {
    content: '';
    display: inline-block;
    width: 0.08em;
    height: 1em;
    background: rgb(45, 209, 209);
    margin-left: 0.1em;
    vertical-align: -0.12em;
}

#typingText.blink::after{
    animation: cursorBlink 1s steps(1) infinite;
}

.typeWriterCursor {
    width: 7px;
    height: 5rem;
    background-color: rgb(45, 209, 209);
    animation: 1s cursorBlink steps(1) infinite;
}

.heroSubtitle {
    font-size: 2rem;
}

.heroSubtitle span {
    color: rgb(45, 209, 209);
}

.heroButtonsContainer {
    display: flex;
    gap: 15px;
    width: fit-content;
}

.heroButton {
    display: flex;
    gap: 5px;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 1.2rem;
}

.solidButton {
    background-color: rgb(45, 209, 209);
    border: 2px solid rgb(45, 209, 209);
    color: black;
}

.solidButton:hover {
    cursor: pointer;
    background-color: white;
    border-color: transparent;
    box-shadow: 0 0 5px rgb(45, 209, 209);
    transform: translateY(-5px);
    transition: transform 0.1s;
}

.hollowButton {
    border: 2px solid rgb(250, 0, 250);
    color: rgb(250, 0, 250);
}

.hollowButton:hover {
    cursor: pointer;
    background-color: rgb(250, 0, 250);
    color: white;
    border-color: transparent;
    box-shadow: 0 0 5px rgb(250, 0, 250);
    transform: translateY(-5px);
    transition: transform 0.1s; 
}

.heroButton svg {
    width: 1em;
}

.separator {
    display: flex;
    margin: auto;
    width: 80%;
    height: 2px;
    background-color: rgba(29, 39, 52);
}


.techStack {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: rgb(147, 146, 163);
    gap: 20px;
}

.stackIconsContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

.stackIconsContainer svg {
    width: 2.3rem;
    fill: rgb(147, 146, 163);
}

@keyframes cursorBlink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}