.projects {
    display: flex;
    flex-direction: column;
    padding: clamp(1rem, 5vw, 5%);
    padding-top: 80px;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: clamp(1.05rem, 2.2vw, 1.5rem);
    color: rgb(147, 146, 163);
    gap: 30px;
}

.projectsTitle {
    color: white;
}

.projectsTitle span {
    color: rgb(250, 0, 250);
}

.projectsFilter {
    display: flex;
    margin: 0 auto;
    gap: 15px;
    justify-content: space-between;
}

.projectsFilterItem {
    display: inline-flex;
    padding: 10px 25px;
    border-radius: 9999em;
    background-color: rgba(17, 24, 39);
    border: 1px solid rgba(46, 54, 68);
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
}

.projectsFilterItem.active {
    color: rgb(45, 209, 209);
    border-color: rgb(45, 209, 209);
}

.projectsFilterItem.active:hover {
    color: rgb(45, 209, 209);
    border-color: rgb(45, 209, 209);
}

.projectsFilterItem:hover {
    cursor: pointer;
    color: white;
    border-color: white;
}

.projectCardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 400px), 1fr));
    gap: 2rem;
}

.projectCard {
    display: flex;
    height: 100%;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid rgb(46, 54, 68);
    background-color: rgb(14, 17, 22);
    transition: all 0.2s ease-in-out;
}

.projectCard.hiding {
    /* display: none; */
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    filter: blur(2px);
}

.projectCard.hidden {
    display: none;
}

.projectCard:hover {
    border-color: rgb(45, 209, 209);
    box-shadow: 0 0 5px rgb(45, 209, 209);
    /* transform: scale(1.03); */
    cursor: pointer;
}

.projectImageWrapper {
    position: relative;
    display: flex;
    justify-content: center;
}

.projectImageWrapper img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    transition: filter 0.6s;
}

.projectContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    padding-bottom: 0;
}

.projectFooter{
    display: flex;
    flex-direction: column;
    padding: 15px;
    padding-top: 0;
    gap: 15px;
}

.projectName {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    color: white;
}

.projectCategory {
    padding: 5px 10px;
    border-radius: 8px;
    color: rgb(45, 209, 209);
    border: 1px solid rgb(45, 209, 209);
    background-color: rgba(45, 209, 209, 0.05);
    font-size: clamp(0.8rem, 1vw, 1rem);
}

.projectDescription {
    height: 100%;
    font-size: clamp(0.8rem, 1.2vw, 1.1rem);
}

.projectDivider {
    margin: 10px 0 0 0;
    height: 1px;
    background-color: rgb(46, 54, 68);
}

.projectStack {
    display: flex;
    gap: 1rem;
    margin: 2% 0;
}

.projectStack svg {
    width: 1.5rem;
    fill: rgb(147, 146, 163);
}

@media (max-width: 768px) {
    .projects {
        min-height: 0;
        padding-top: 60px;
    }

    .projectsFilter {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;

        /* Check if this is better */
        /* overflow-x: auto;
            scrollbar-width: none; */

    }

    .projectsFilterItem {
        padding: 8px 18px;
    }
}